body{
    background-color: rgb(29, 26, 26);
    color: rgb(199, 175, 175);
    margin: 0;
}
a{
    text-decoration: none;
    color: lightblue;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap:25%;
    padding-top: 20px;
    /* padding-left: 1%;
    padding-right: 1%; */
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.h-links{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: #e5e7eb;
}
.sec1{
    background-color: #1f2937;
    display: flex;
    gap: 1%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.heromain{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    max-width: 50%;
    min-width: 30%;
}
.herosec{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
    margin: 10px;
}
button{
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    padding: 5px 15px;
    /* border: none; */
    border-style: solid;
    margin: 5px;
    border-color: white;
    border-width: 1px;
}
.sec2{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;  
    padding: 50px;  
    gap: 50px;
}
.sec2title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

}
.sec2imgtxt{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 700px;
}
.imgtxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.sec3{
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
    color: black;
    
}
.sec3quote{
    display: flex;
    flex-direction: column;

}
.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    margin: 4px;
}
.quoted{
    font-weight: 600;
    align-self: flex-end;
    
}
.sec4{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}
.calltoaction{
    padding: 30px;
    max-width: 70%;
    min-width: 65%;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 10%;
}
.CTAtxt{
    font-weight: 700;
    padding: 5px;
}
.subCTAtxt{
    font-weight: 200;
}
.footer{
    padding: 10px;
    text-align: center;
}


